<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    <form action="/register" method="POST">
        Email: <input type="text" name="email">
        <br>
        Password: <input type="password" name="password">
        <br>
        Confirm Password <input type="password" name="Cpassword">
        <br>
        <input type="submit" value="Register">
    </form>
</body>
</html>